.GameCard {
  border-radius: 6px;
  min-width: 254px;
  max-width: 500px;
  min-height: 309px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  align-items: center;

  & img {
    width: 130px;
  }

  & h2 {
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
  }
}